# Zależności
node_modules/
npm-debug.log*
yarn-error.log*

# Środowisko i sekrety
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Budowanie i dystrybucja
dist/
build/
.next/
out/

# IDE i systemowe
.vscode/
.idea/
.DS_Store
Thumbs.db

# Bazy danych (jeśli używasz SQLite lokalnie)
*.sqlite
*.sqlite-journal
